@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    padding-bottom:5vh;
 }

/* header */
header { 
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: darkgrey;
}
.header-left > a > img {
    max-width: 150px;
    width:15vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    
}
header .header-left{
    position: absolute;
    left: 0;
    
}
header .header-right{
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: flex-end;
}
.header-right{
    text-align: center;
    font-size: 1vw;
    
    
}

.img{
    width: 150px;
    margin-left: 20px; 
}
ul{
    text-align: right;
}
li{
    display: inline;
    line-height: 60px;
    margin-right: 20px;
    line-height: 3;
    list-style:none 
}
/* main */
main{
    height: auto;

}

/* スライドショー */
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/* h3タイトル */
h3{
    
    color: black;
    font-size: 3vh;
    border-bottom: solid 0.1vh;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: lighter;
}
/* NEW〜情報〜 */
.info{
    width:94%;
    margin:0 auto;
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.info > *{
    min-width: 8%;
    flex-basis: 25%;
    background: #fff;
    font-size: 64px;
    text-align: center;
  }
/* 店舗情報 */

.mapinfo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}
iframe{
    width:50vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.text-info{
    color: black;
    font-size: 2vh;
    margin-top: 30px;
    padding-left: 20px;
    
    font-weight: lighter;

}
.googlemap > iframe{
    margin-left: 20px;
    width:40vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:30vw;

}


/* 店舗情報ページ */
.main-store{
    margin-bottom: 100px;
}
.store-page{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.store-page .img{
    width:40vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    margin-right: 20px;
}

.mapinfo-store-page{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.googlemap-storeinfo > iframe{
    width:50vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height: 30vw;
}
/* SNSページ */
.sns-page{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.sns-img{
    width: 48vw;
    height: auto;
}
.sns{
    text-align: center;
}


/* company */
.company-page{
    margin-bottom: 100px;
}
.company{
    display: flex;
    width: 100%;
    justify-content: center;
}

.company-img{
    width: 30vw;
    margin-left: 30px;
}


.text-info{
    
    width: 50%;
    word-wrap: break-word;

}
.company-bottom{
    display: flex;
    margin-top: 30px;
    justify-content: center;

}
.company-bottom > .googlemap-storeinfo{
    margin-left: 30px;
}
.company-bottom > .text{
    font-size: 1vw;
    
}
h2{
    font-size: 2vw;
}
.text > p{
    border-bottom: solid 0.1vh black;

}

/* mail */

.red{
    width: 5vw;
    height: 5vw;
    background-color: red;
    color: white;
    /* 中段配置 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contactbox-text1{
    justify-content: center;
    margin-bottom: 0;
    
}

div label{
    font-size: 1.5vw;
    width: 15vw;
    background-color: lightblue;
    text-align: center;
    /* 中段配置 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
form div{
    display: flex;
    padding: 15px;
    
}
.contactbox-text, textarea{
    width: 50vw;
    border: 1px solid #dfdfdf;
    padding: 5px;
    color:black;
    
    
}

    
.submit{
    border: 1px solid lightgray; 
    padding: 4px 10px;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

/* mail_confirm */
.confirm > p{
    text-align: center;
    color: red;
}
.confirm .contactbox-text1{
    width: 100vw;
    
    text-align: center;
    
}
.submit-confirm{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 6px 10px; /* 余白 */
}
/* footer */
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:10vh;
    z-index:100;
    background-color: darkgrey;
    clear: both;
    margin-left: 5px;
    list-style:none;
   
}

.footer-l > ul > li > a {
    font-size: 1vw;
    margin-right: 50px;
    padding-bottom: 10px;
    margin-left: -30px;
}




a > .img1{
    width: 5vh;
    margin-right: 30px;
    margin-left: -28px;

}


footer > .footer-l{
    display: flex;
    position: absolute;
    left: 0;
    
    
    
    
}

footer > .footer-r{
    position: absolute;
    right: 0;
    
}

.footer-l > .img {
    max-width: 100px;
    height:auto;
    width: 10vh;
}
.fotter-text{
    margin-bottom: 0;
}